---
import Layout from "../layouts/Layout.astro";
import FacturaCard from "../components/FacturaCard";

const ejemplo = [
  {
    id: 1,
    nombre: "ejemplo1",
    pagada: false,
    descripcion: "ejemplo 1 descripcion",
  },
  {
    id: 2,
    nombre: "ejemplo2",
    pagada: true,
    descripcion: "ejemplo 2 descripcion",
  },
];
---

<Layout title="Facturas">
  <main class="py-2 px-2 mx-auto max-w-xl lg:py-0 lg:px-6">
    <div class="mx-auto text-center mb-6 lg:mb-10">
      <div class="flex flex-col">
        <FacturaCard data={ejemplo} client:load />
      </div>
    </div>
  </main>
</Layout>
