---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-4 px-4 mx-auto max-w-xl lg:py-0 lg:px-6">
    <div
      class="h-32 grid lg:grid-rows-2 md:grid-rows-2 sm:grid-rows-4 lg:grid-flow-col md:grid-flow-col sm:grid-flow-row gap-4 text-white font-mono"
    >
      <a class="buttonIndex bg-slate-800" href="/about">
        <div>holaaaaaaaaaaaaaa</div>
        <div>jeje</div>
      </a>
      <a class="buttonIndex bg-slate-800" href="/about">1</a>
      <a class="buttonIndex bg-slate-800" href="/about"
        >1aaaaaaaaaaaaaaaaaaaaaaa</a
      >
      <a class="buttonIndex bg-slate-800" href="/about">1</a>
    </div>
  </main>
</Layout>

<style>
  .buttonIndex {
    display: flex;

    align-items: center;
    justify-content: center;
  }
</style>
