.factura_container, .facturas_grid_leyenda{
    background-color: white;
    padding: 0.3em;
    border-radius: 0.3em;
    margin: 0.1em;
    display: flex;
    justify-content: left;
}

.factura_titulo, .factura_titulo_leyenda{
    width: 40%;
    padding: 0.4em;
    
}

.factura_id, .factura_id_leyenda{
  padding: 0.4em;
  width: 10%;
}

.factura_fecha_inicio, .factura_fecha_inicio_leyenda{
  width: 12%;
  padding: 0.4em;
}

.factura_fecha_final, .factura_fecha_final_leyenda{
  width: 12%;
  padding: 0.4em;
}

.factura_precio, .factura_precio_leyenda{
  width: 12%;
  padding: 0.4em;
}


.facturas_grid_leyenda{
  background-color: #afadad;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 1em;
  }
  
  .modal button {
    margin-top: 10px;
  }
  
  .btnCerrarModal{
    background-color: rgb(243, 150, 150);
    padding: 0.4em;
  }

  .modal2{
    background-color: white;
    padding: 20px;
    width: 40%;
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal2 button {
    margin-top: 10px;
  }