---
console.log("jiji");
---

<header class="py-4 px-4 mx-auto max-w-xl lg:pt-12 lg:pb-8 lg:px-6">
  <div class="mx-auto text-center mb-6 lg:mb-6 my-0">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-slate-500">
      JDEV Utils
    </h2>
  </div>

  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row font-mono"
  >
    <a href="/" class="text-white hover:scale-105"> Inicio </a>
    <a href="./proyectos" class="text-white hover:scale-105"> Proyectos </a>
    <a href="./facturas" class="text-white hover:scale-105"> Facturación </a>
    <a href="./about" class="text-white hover:scale-105"> otros </a>
    <a href="./about" class="text-white hover:scale-105"> Viejos </a>
  </nav>
</header>

<style>
  a:active {
    color: aquamarine;
  }
</style>
