


.proyectos_array_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.proyectos_array_grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.proyectos_array_grid .proyectos_item{
    width: 100%;
    max-width: 100%;
    margin: 0.1em;
    

}

.proyectos_changer{
    width: 24px;
    filter: invert(40%);
    margin: 1em;
}

.proyectos_item{
    padding: 1em;
    margin: 1em;
    background-color: #ccc;
    border-radius: 0.3em;
    max-width: 60%;
    max-height: 60%;
    width: 19em;
    height: 40%;
}

.proyectos_viewmodel{
    
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ccc;
    background-color: rgba(82, 82, 80, 0.139);
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

.proyectos_changer{
    margin-right: 8px;
}